* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;

  /* font-family */
	--font-family-tittle:"Shadows Into Light", cursive;

  /* font  weight */
	--font-bold:700;

  /* font  size */
	--font-size-1:12px;
  --font-size-2:14px;
  --font-size-3:16px;
  --font-size-4:18px;
  --font-size-5:24px;
  --font-size-6:28px;
  --font-size-tittle:80px;

  /* geral colors */
	--color-main:#2600ff;
  --color-main-2:#583bfc;
  --color-main-3:rgb(121, 75, 206);
  --color-main-4:rgba(143, 82, 255, 0.4);
  --color-main-5:#8067f1;
  --color-main-6: #00abdf;
  --hover-color:#00e3f3;
  --hover-color-2:rgba(117, 50, 243, 0.7);
	--color-white:#ffffff;
	--color-black:#171717;
	--color-grey:#CECECE;
	--color-dark-grey:#9B9595;
  --color-transparent: transparent;
  --color-error: #fd3d5d;
  --color-error-2: rgb(255, 0, 0);
  --color-purple: #8d008d;
  --black-window:rgb(0, 0, 0, 0.4);
  --white-window:rgba(255, 255, 255, 0.6);
  --shadow:0px 0px 5px rgb(0,0,0,0.5);
  --low-opacity:0.6;

  /* sizes */
  --auth-max-width:400px;
  --min-height: 100vh;
  --min-width: 100vw;
  --element-container-min-heigth:200px;
  --window-min-heigth:100vh;
  --window-max-width:400px;
  --window-padding:10px 5px 10px 5px;
  --page-max-width:500px;
  --page-min-width:500px;
  --page-padding:20px 60px 0 60px;
  --objeects-height:35px;
  --objeects-height2:65px;
  --sidebar-min-width: 45px;
  
  /* borders*/
  --border-radious-1:8px;
  --border-radious-2:10px;
  --default-border:1px solid var(--color-main-2);
  --input-border:2px solid var(--color-main-2);
  --white-border:1px solid var(--color-white);
  --hover-border: inset 1px 1px 1px var(--color-hover);

  /* calendar*/
  --cell-width:180px;
  --cell-heigth:160px;
  --cell-padding: 5px;
  --cell-border: inset 1px 1px 1px var(--color-main-4);
  --month-inputh-width:110px;
  --month-inputh-heigth:42px;
  --inset-white-border: inset 1px 1px 1px var(--color-white);
  --schedule-min-height:70px;
  --calendar-max-width: 85vw;
  --calendar-heigth: 90vh;

  /* z-index*/
  --z-index--1: -1;
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
}

body {
  width: 100%;
  height: 100%;
  min-width: 300px;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

iframe {
  pointer-events: none;
}
