* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;

  /* font-family */
	--font-family-tittle:"Shadows Into Light", cursive;

  /* font  weight */
	--font-bold:700;

  /* font  size */
	--font-size-1:12px;
  --font-size-2:14px;
  --font-size-3:16px;
  --font-size-4:18px;
  --font-size-5:24px;
  --font-size-6:32px;
  --font-size-tittle:80px;

  /* geral colors */
	--color-main:#2600ff;
  --color-main2:#6e55ff;
	--color-white:#ffffff;
	--color-black:#171717;
	--color-grey:#CECECE;
	--color-dark-grey:#9B9595;
  --color-transparent: transparent;
  --color-error: #fd3d5d;
  --color-error2: rgb(255, 0, 0);
  --color-purple: #8d008d;
  --background-window:rgb(0, 0, 0, 0.5);
  --shadow:0px 0px 5px rgb(0,0,0,0.5);
  --low-opacit:0.4;

  /* sizes */
  --auth-max-width:400px;
  --min-height: 100vh;
  --element-container-min-heigth:200px;
  --window-min-heigth:100vh;
  --window-max-width:400px;
  --window-padding:10px 5px 10px 5px;
  --page-max-width:500px;
  --page-min-width:500px;
  --page-padding:20px 50px 0 50px;
  --objeects-height:35px;
  
  /* borders*/
  --border-radious-1:8px;
  --border-radious-2:10px;
  --input-border:1px solid var(--color-main);
}

body {
  width: 100%;
  height: 100%;
  min-width: 300px;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

iframe {
  pointer-events: none;
}
